.cart-section {
    min-height: 80vh;
}
.cart-products {
    width: 100%;
    margin-bottom: 30px;
}
.cart-products th {
    color: #888;
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
}
.cart-products tbody tr {
    border-bottom: 1px solid #cacaca;
}
.cart-products tbody tr td {
    padding: 10px 5px;
    font-size: 16px;
}
.cart-products tr th:first-of-type, .cart-products tbody tr td:first-of-type {
    width: 170px;
}
.cart-product div, .cart-product h4 {
    display: block;
    padding: 2px 10px;
}
.cart-products input[type="number"] {
    width: 60px;
    padding: 5px 7px;
}
.cart-product {
    width: 100%;
}
.cart-product .title {
    font-size: 15px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
}
.checkout {
    width: 100%;
    border: 1px solid #999;
    padding: 20px;
}
.checkout .delivery {
    margin-bottom: 20px;
}
.checkout .bill {
    padding: 10px 0;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.checkout .bill .sum span, .checkout .bill .total span {
    text-transform: uppercase;
}
.checkout button {
    width: 100%;
}
.empty-cart {
    font-weight: bold;
    text-transform: uppercase;
    color: #2fa3f3;
}